.contact h2 {
  color: var(--main-color);
  font-weight: 700;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .line {
  width: 100px;
  height: 4px;
  background-color: var(--main-color);
  margin: 0 10px;
}
i {
  color: var(var(--main-color));
}
.input-box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 1rem;
}
input,
textarea {
  padding: 0.3rem 0.8rem;
  outline: none;
  border: 1.4px solid #8a8a8a;
  border-radius: 5px;
  transition: all 0.4s;
}
input:focus,
textarea:focus{
  border-color: #000;
}
textarea {
  height: 120px;
}
.my-btn {
  background-color: var(--first-color);
  color: var(--text-color);
  border: 0;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  transition: all 0.4s;
  &:active {
    transform: scale(0.8);
  }
}
label {
  color: var(--first-color);
  text-transform: capitalize;
}
